compose/*
!compose/.gitkeep

config/ortelius/*
!config/ortelius/.gitkeep

data/avalanche/*
!data/avalanche/.gitkeep
data/db/*
!data/db/.gitkeep
data/ssl/*
!data/ssl/.gitkeep

data/vendor/*
!data/vendor/.gitkeep
